#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 90%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
  margin-right: 10px;
  align-items: end;
}

.loader {
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 40%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
